<div class="alert hidden" role="alert" aria-live="assertive">
    <span class="material-symbols-outlined alert-icon">local_fire_department</span>

    <div class="alert-text">
        <h1>FIRE DETECTED</h1>
        <p class="instruction">
            Evacuate immediately using the directions shown below.
        </p>
    </div>
</div>

<main class="content">
    <div id="map"></div>
</main>


<footer class="footer">
    <div id="msg">
        Follow illuminated exit signs. Do not use elevators.
        Assist others if safe to do so.
    </div>
</footer>

<!--<div class="header">-->
<!--    <span class="material-symbols-outlined">mode_heat</span>-->
<!--    <div>-->
<!--        <div>-->
<!--            FIRE DETECTED-->
<!--        </div>-->
<!--        <div>-->
<!--            near XXXXXXXXXXXXXXXXXXXXXXXXXX-->
<!--        </div>-->
<!--        <div>-->
<!--            Please evacuate using the directions given below-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div id="map"></div>-->

<!--<div id="msg" class="footer">-->
<!--    XXXXXXXXXXXXXXXXΧΧΧΧΧΧΧΧΧΧΧΧΧΧΧΧΧΧΧΧXXXXXXXXXXXXXXXXΧΧΧΧΧΧΧΧΧΧΧΧΧΧΧΧΧΧΧΧ-->
<!--</div>-->