<div>
    <h1><b>Statistics</b></h1>
</div>
    <div class="elevated-box">
        <span style="display: block">Access points Analytics</span>
        <iframe src="https://stats.fitproject.sveronis.net/d/bfbbqccyqayo0c/crowdflows?timezone=browser&orgId=2&viewPanel=1&kiosk&theme=light"
         width="450" height="200" frameborder="0" 
        ></iframe>
    </div>

     <div class="elevated-box">
        <span style="display: block">Radar Analytics</span>
        <iframe src="https://stats.fitproject.sveronis.net/d/bfbbqccyqayo0c/crowdflows?timezone=browser&orgId=2&viewPanel=2&kiosk&theme=light"
         width="450" height="200" frameborder="0" 
        ></iframe>
    </div>

    <div class="elevated-box">
        <span style="display: block">Radar Analytics</span>
        <iframe src="https://stats.fitproject.sveronis.net/d/bfbbqccyqayo0c/crowdflows?timezone=browser&orgId=2&viewPanel=3&kiosk&theme=light"
                width="450" height="200" frameborder="0"
        ></iframe>
    </div>


