<div>
    <h1><b>Sumo Simulation</b></h1>
</div>

<div style="background: white; padding: 10px; border: 1px solid #ddd; border-radius: 4px; display: flex; align-items: center; justify-content: space-between; margin-top: 10px; margin-bottom: 10px;">

</div>


        <div id="sumo-frame-container" style="height: 100vh; border: 1px solid #ccc; border-radius: 4px; overflow: hidden; margin-bottom: 10px;">
            <iframe 
                src="https://sumo.fireproject.sveronis.net/" 
                width="100%" 
                height="100%" 
                style="border: none;"
                title="SUMO Simulation"
            ></iframe>
        </div>


<div id="statusToast">Notification</div>