<div class="video-wrapper">
    <video autoplay muted playsinline>
        <source
                src={{videolink}} type="application/x-mpegURL" />
        Your browser does not support HLS video.
    </video>
</div>
